* {
    box-sizing: border-box;
    background-color: whitesmoke;
    color: black;
    width: 100%;
}
.name {
    display: flex;
    letter-spacing: 22px;
    justify-content: center;
    margin: 30px;
    align-items: center;
    padding: 100, 50;
    margin-top: 40px;
}

.main-list {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 70px;
    width: 100%;

}

li {
    flex-direction: row;
    margin: 35px;
    display: flex;
    justify-content: space-between;
}

.list {
    margin: 35px;
    width: 100%;
}