* {
    box-sizing: border-box;
    background-color: whitesmoke;
    color: black;
    width: 100%;
}
#en {
    display: none;
}
.button_lang {
  background-color: #444;
  color: #FFF;
  padding: 8px 20px;
  border-radius: 5px;

  -webkit-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
.button_lang:hover, .current_lang {
  background-color: #777;
  -webkit-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}
ul li {
  width: auto;
  display: inline;
}

.name {
    display: flex;
    letter-spacing: 30px;
    justify-content: center;
    margin: 10px;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 200;
    font-size: 90px;
}

.main-list {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    margin-left: 80px;
    width: 100%;
    align-self: center;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
}
a {
    text-decoration: none;
}
li {
    flex-direction: row;
    margin: 25px;
    display: flex;
    justify-content: space-between;
    font-family: 'Amatic SC', cursive;
    font-weight: 800;
    width: 80%;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 80px;
    width: 60%;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: 800;
}
